/* var di colori */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --black: #000000;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --azzurro: #7abfc4;
    --giallo: #e9bd3d;
    --verdescuro: #55664f;
    --verdesalvia: #91a67c;
    --indianred: #cd5c5c;
    --fullscreen: rgb(33, 37, 41, 0.5);
    --gold: rgb(255, 215, 0);
    --silver: rgb(192, 192, 192);
    --transparent-blue: rgba(0, 0, 255, 0.1);
    /* section dark */
    --darkblue: rgb(0, 0, 139);
    --darkcyan: rgb(0, 139, 139);
    --darkgoldenrod: rgb(184, 134, 11);
    --darkgray: rgb(169, 169, 169);
    --darkgreen: rgb(0, 100, 0);
    --darkgrey: rgb(169, 169, 169);
    --darkkhaki: rgb(189, 183, 107);
    --darkmagenta: rgb(139, 0, 139);
    --darkolivegreen: rgb(85, 107, 47);
    --darkorange: rgb(255, 140, 0);
    --darkorchid: rgb(153, 50, 204);
    --darkred: rgb(139, 0, 0);
    --darksalmon: rgb(233, 150, 122);
    --darkseagreen: rgb(143, 188, 143);
    --darkslateblue: rgb(72, 61, 139);
    --darkslategray: rgb(47, 79, 79);
    --darkslategrey: rgb(47, 79, 79);
    --darkturquoise: rgb(0, 206, 209);
    --darkviolet: rgb(48, 0, 211);
    /* section dark */
    /* section light */
    --lightblue: rgb(173, 216, 230);
    --lightcoral: rgb(240, 128, 128);
    --lightcyan: rgb(224, 255, 255);
    --lightgoldenrodyellow: rgb(250, 250, 210);
    --lightgray: rgb(211, 211, 211);
    --lightgreen: rgb(144, 238, 144);
    --lightgrey: rgb(211, 211, 211);
    --lightpink: rgb(255, 182, 193);
    --lightsalmon: rgb(255, 160, 122);
    --lightseagreen: rgb(32, 178, 170);
    --lightskyblue: rgb(135, 206, 250);
    --lightslategray: rgb(119, 136, 153);
    --lightslategrey: rgb(119, 136, 153);
    --lightsteelblue: rgb(176, 196, 222);
    --lightyellow: rgb(255, 255, 224);
    /* section light */
}


/* var di colori */


/* background-color & color */

.root-background-azzurro {
    background-color: var(--azzurro);
    /* #7abfc4;*/
    color: var(--white);
}

.root-background-giallo {
    background-color: var(--giallo);
    color: var(--white);
}

.root-background-verdescuro {
    background-color: var(--verdescuro);
    color: var(--white);
}

.root-background-verdesalvia {
    background-color: var(--verdesalvia);
    color: var(--white);
}

.root-background-indianred {
    background-color: var(--indianred);
    color: var(--white);
}

.root-text-bg-danger {
    background-color: var(--danger);
    color: var(--white);
}

.root-text-bg-warning {
    background-color: var(--warning);
    color: var(--dark);
}

.root-text-bg-dark {
    background-color: var(--dark);
    color: var(--white);
}

.root-text-bg-blue {
    color: var(--blue);
    background-color: var(--blue);
}


/* background-color & color */


/* background-color */

.root-bg-blue {
    background-color: var(--blue);
}


/* background-color */


/* color */

.root-text-azzurro {
    color: var(--azzurro);
}

.root-text-giallo {
    color: var(--giallo);
}

.root-text-verdescuro {
    color: var(--verdescuro);
}

.root-text-verdesalvia {
    color: var(--verdesalvia);
}

.root-text-indianred {
    color: var(--indianred);
}

.root-text-blue {
    color: var(--blue);
}

.root-text-purple {
    color: var(--purple);
}

.root-text-orange {
    color: var(--orange);
}

.root-text-cyan {
    color: var(--cyan);
}

.root-text-danger {
    color: var(--danger);
}

.root-text-white {
    color: var(--white);
}


/* color */


/* align-text */

.root-text-align-left {
    text-align: left;
}

.root-text-align-center {
    text-align: center;
}

.root-text-align-right {
    text-align: right;
}


/* align-text */


/* font-weight */

.root-font-bold {
    font-weight: bold;
}


/* font-weight */


/* text-transform */

.root-font-uppercase {
    text-transform: uppercase;
}

.root-font-lowercase {
    text-transform: lowercase;
}

.root-font-prima-lettera {
    text-transform: capitalize;
}


/* text-transform */


/* font-size */

.root-font-pt-5 {
    font-size: 5pt;
}

.root-font-pt-6 {
    font-size: 6pt;
}

.root-font-pt-8 {
    font-size: 8pt;
}

.root-font-pt-9 {
    font-size: 9pt;
}

.root-font-pt-10 {
    font-size: 10pt;
}

.root-font-pt-11 {
    font-size: 11pt;
}

.root-font-pt-12 {
    font-size: 12pt;
}

.root-font-pt-14 {
    font-size: 14pt;
}


/* font-size */


/* display */

.root-display-none {
    display: none;
}

.root-display-block {
    display: block;
}


/* display */


/* clear */

.root-clear-dom {
    clear: both;
}


/* clear */


/* cursor */

.root-crs-pointer {
    cursor: pointer;
}


/* cursor */


/* float */

.root-el-align-left {
    float: left;
}

.root-el-align-right {
    float: right;
}


/* float */


/* button */

.btn {
    border-radius: 8px;
    width: 150px;
    height: 30px;
    font-family: Arial, Helvetica, monospace, sans-serif;
    font-variant: small-caps;
    margin-top: 5px;
}


/* btn-success*/

.btn-s:hover {
    background-color: var(--success);
}

.btn-s {
    transition: 2s;
    border: 1px solid var(--yellow);
    background-color: transparent;
    color: var(--light);
    background-image: url('../img/sun.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: left center;
}


/* btn-success*/


/* button */


/* body */

body {
    background-color: var(--secondary);
    font-family: Arial, Helvetica, monospace, sans-serif;
    font-variant: small-caps;
}


/* body */


/* input type */

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=number] {
    display: block;
    width: 94%;
    height: 30px;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    background-image: url('../img/sun.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 30px;
}


/* input type */


/* form span */

form span {
    display: block;
    position: fixed;
    left: 60%;
    display: none;
}


/* form span */


/* imposta<zioni pagina dei contenuti e mymodal */

.container {
    border: 1px solid var(--orange);
    /*width: 50vw;*/
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    /*  position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%); */
    padding: 18px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: var(--dark);
    box-shadow: 0 3px 17px var(--orange);
}

.full-screen {
    background-color: var(--fullscreen);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
    filter: alpha(opacity=50);
}

.my-alert {
    width: 45vw;
    height: auto;
    position: fixed;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 17px var(--secondary);
    border-radius: 8px;
    border: 1px solid;
    padding: 18px;
    text-align: center;
    /*background-color: var(--dark);*/
    /*color: var(--yellow);*/
    z-index: 2;
}

.img-close {
    position: fixed;
    top: 5px;
    left: 5px;
}

.content {
    border: 1px solid var(--giallo);
    width: auto;
    height: auto;
    padding: 18px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}


/* imposta<zioni pagina dei contenuti e mymodal */


/* loader */

.loader {
    border: 0px solid grey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 4px;
    /*box-shadow: 0px 3px 20px; rgba(0, 0, 0, 0.5);*/
    /*position: fixed; top: 25%; left: 46%;*/
    /* ottima sintassi per centrare gli elementi. */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* /ottima sintassi per centrare gli elementi. */
    width: 500px;
    height: 500px;
    color: red !important;
    background: url('img/loader/auto-1.gif') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    z-index: 1;
    /*
	animation-name: divpanel;
	animation-duration: 3s;
*/
}


/* ./loader */


/* customized button create csv */

.btn-scarica-file-csv {
    /* border: 1px solid var(--orange) !important; */
}

.btn-scarica-file-csv:active {
    background-color: var(--success) !important;
}


/* customized button create csv */


/* customized button create pdf */

.btn-scarica-file-pdf {
    /* border: 1px solid var(--orange) !important; */
}

.btn-scarica-file-pdf:active {
    background-color: var(--danger) !important;
}


/* customized button create pdf */


/* customized button create excel */

.btn-scarica-file-excel {
    /* border: 1px solid var(--orange) !important; */
}

.btn-scarica-file-excel:active {
    background-color: var(--primary) !important;
}


/* customized button create excel */