:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --black: #000000;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --azzurro: #7abfc4;
    --giallo: #e9bd3d;
    --verdescuro: #55664f;
    --verdesalvia: #91a67c;
    --indianred: #cd5c5c;
    --fullscreen: rgb(33, 37, 41, 0.5);
}


/* COLORI CUSTOM AZIENDA. */

.azzurro_background {
    background-color: var(--azzurro);
    /* #7abfc4;*/
    color: #ffffff;
}

.giallo_background {
    background-color: #e9bd3d;
    color: #ffffff;
}

.verdescuro_background {
    background-color: #55664f;
    color: #ffffff;
}

.verdesalvia_background {
    background-color: #91a67c;
    color: #ffffff;
}

.indianred_background {
    background-color: #cd5c5c;
    color: #ffffff;
}

.danger-text-bg {
    background-color: var(--danger);
    color: var(--white);
}

.warning-text-bg {
    background-color: var(--warning);
    color: var(--dark);
}

.dark-text-bg {
    background-color: var(--dark);
    color: var(--white);
}

.azzurro_text {
    color: #7abfc4;
}

.giallo_text {
    color: #e9bd3d;
}

.verdescuro_text {
    color: #55664f;
}

.verdesalvia_text {
    color: #91a67c;
}

.indianred_text {
    color: #cd5c5c;
}


/* /COLORI CUSTOM AZIENDA. */


/* CREO LE CLASSI DA CHIAMARE ALL'OCCORRENZA SOLO TESTO */

.root-text-color-blue {
    color: var(--blue);
}

.root-text-color-purple {
    color: var(--purple);
}

.root-text-color-orange {
    color: var(--orange);
}

.root-text-align-left {
    text-align: left;
}

.root-text-align-center {
    text-align: center;
}

.root-text-align-right {
    text-align: right;
}


/* /CREO LE CLASSI DA CHIAMARE ALL'OCCORRENZA SOLO TESTO */


/* CREO LE CLASSI DA CHIAMARE ALL'OCCORRENZA SOLO BACKGROUND */

.root-bg-color-blue {
    background-color: var(--blue);
}


/* /CREO LE CLASSI DA CHIAMARE ALL'OCCORRENZA SOLO BACKGROUD */


/* CREO LE CLASSI DA CHIAMARE ALL'OCCORRENZA TESTO & BACKGROUND */

.root-txt-bg-color-blue {
    color: var(--blue);
    background-color: var(--blue);
}


/* /CREO LE CLASSI DA CHIAMARE ALL'OCCORRENZA TESTO & BACKGROUND */


/* CUSTOMIZED FONTS */

.root-font-bold {
    font-weight: bold;
}

.root-font-uppercase {
    text-transform: uppercase;
}

.root-font-lowercase {
    text-transform: lowercase;
}

.root-font-prima-lettera {
    text-transform: capitalize;
}

.root-font-pt-5 {
    font-size: 5pt;
}

.root-font-pt-6 {
    font-size: 6pt;
}

.root-font-pt-8 {
    font-size: 8pt;
}

.root-font-pt-9 {
    font-size: 9pt;
}

.root-font-pt-10 {
    font-size: 10pt;
}

.root-font-pt-11 {
    font-size: 11pt;
}

.root-font-pt-12 {
    font-size: 12pt;
}

.root-font-pt-14 {
    font-size: 14pt;
}


/* /CUSTOMIZED FONTS */


/* NASCONDO AL DISPLAY */

.root-display-none {
    display: none;
}

.root-display-block {
    display: block;
}


/* /NASCONDO AL DISPLAY */


/* PULISCO IL DOM */

.root-clear-dom {
    clear: both;
}


/* /PULISCO IL DOM */


/* CURSORE POINTER */

.crs-pointer {
    cursor: pointer;
}


/* /CURSORE POINTER */


/* ELEMENTI LEFT RIGHT */

.el-align-left {
    float: left;
}

.el-align-right {
    float: right;
}


/* ELEMENTI LEFT RIGHT */
/* BUTTON */
.btn {
    border-radius: 8px;
    font-variant: small-caps;
    font-family: monospace sans-serif;
    width: 150px;
    height: 30px;
}
.btn-p {
    border: 1px solid var(--yellow);
    background-color: var(--primary);
    color: var(--light);
}
/* BUTTON */